<link rel="stylesheet" href="{{ url_for('static', filename='styles/nouislider.min.css') }}" />
<script src="{{ url_for('static', filename='js/lib/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/wNumb.min.js') }}"></script>

<div class="container text-right open-modal">
    <div class="row filter-area">
        <div class="col-12 col-lg-3 filter-block filter-block-analytics">
            <p>תצוגה לפי</p>

            <ul class="type-select type-select-col">
                <li>
                    <input type="radio" class="analytics-switch-chip" id="dataSetChangeMonthlyOriginal" name="mortgageSwitchChart" checked disabled>
                    <div class="check"></div>
                    <label for="dataSetChangeMonthlyOriginal">זינוק מקסימלי חזוי בהחזר החודשי</label>
                </li>

                <li>
                    <input type="radio" class="analytics-switch-chip" id="dataSetLoanCostOriginal" name="mortgageSwitchChart" disabled>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                    <label for="dataSetLoanCostOriginal">עלות המשכנתה לשקל</label>
                </li>

                <li>
                    <input type="radio" class="analytics-switch-chip" id="dataSetPrincipalHalvedOriginal" name="mortgageSwitchChart" disabled>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                    <label for="dataSetPrincipalHalvedOriginal">מתי הקרן תרד במחצית</label>
                </li>
            </ul>

        </div>
        <div class="col-12 col-lg-3 filter-block filter-block-analytics">
            <p>גובה המשכנתה</p>
            <div id="sliderMortgageAmount"></div>
        </div>
        <div class="col-12 col-lg-3 filter-block filter-block-analytics">
            <p id="danger-level-header">רמת סיכון</p>
            <div class="filter-button-container"></div>

        </div>
        <div class="col-12 col-lg-3 filter-block filter-block-analytics">
            <p>החזר חודשי</p>
            <div id="sliderMonthlyReturn"></div>
        </div>
    </div>
</div>