<div class="container text-right open-modal" id="openModal">
    <div class="row filter-area">
        <div class="col-12 col-lg-6 filter-block filter-block-analytics">
            <p>ריבית</p>

            <ul class="type-select">
                <li>
                    <input type="radio" id="mortgageReal" interest='real' name="mortgageSwitchChart" class="change-interest-radio filter-button" checked>
                    <div class="check grey-on-disabled"></div>
                    <label for="mortgageReal">ריאלית</label>
                </li>
                <li>
                    <input type="radio" id="mortgageNominal" interest='nominal' name="mortgageSwitchChart" class="change-interest-radio filter-button">
                    <div class="check grey-on-disabled">
                        <div class="inside"></div>
                    </div>
                    <label for="mortgageNominal">נומינלית</label>
                </li>
            </ul>

        </div>

        <div class="col-12 col-lg-6 filter-block filter-block-analytics">
            <p id="danger-level-header">שנים</p>
            <div class="filter-button-container">
                <!-- Filter list -->
            </div>
        </div>
    </div>
</div>