.authorization-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.sign-in-popup {
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}

.modal-wrap {
    max-width: 570px;
    margin: 60px auto;
    text-align: center;
    /* position: relative; */
}

@media (max-width: 544px) {
    .modal-wrap {
        margin: 40px auto;
    }
    .sign-in-popup {
        border-radius: 8px;
        background-color: #fff;
        position: relative;
    }
    .modal-wrap {
        max-width: 570px;
        margin: 60px auto;
        text-align: center;
        position: relative;
    }
}

.sign-in-popup .modal-image-wrap {
    border-bottom: 2px solid #c1d3e5;
}

.modal-image-wrap {
    padding: 50px 70px 35px;
    /* border-bottom: 2px solid #C1D3E5; */
}

@media (max-width: 544px) {
    .sign-in-popup .modal-image-wrap {
        padding: 15px 35px;
    }
    .sign-in-popup .modal-image-wrap {
        border-bottom: 2px solid #c1d3e5;
    }
}

.sign-in-popup .modal-title-wrap {
    border-radius: 0;
    background-color: #fff;
    border-bottom: 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    line-height: 1.2;
}

.modal-title-wrap {
    color: #2D5590;
    padding: 20px 0;
}

@media (max-width: 544px) {
    .modal-title-wrap {
        padding: 10px 0;
        color: #2D5590;
    }
}

.sign-in-popup .modal-pro-content-buttons-wrap {
    padding-bottom: 40px;
}

.modal-wrap .modal-button-wrap {
    text-align: center;
}

.sign-in-popup #pro-content-login {
    color: #fff;
    background-color: #4B77B9;
}

.sign-in-popup .modal-button {
    width: 330px;
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4B77B9;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    transition: 0.2s ease;
    margin: 0 auto;
    cursor: pointer;
}

.sign-in-popup .modal-buttons-divider {
    width: 330px;
    max-width: 100%;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.sign-in-popup .modal-buttons-divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #C1D3E5;
    width: 100%;
    height: 2px;
}

.sign-in-popup .modal-buttons-divider-text {
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2D5590;
    text-align: center;
    position: relative;
    padding: 0 10px;
}

.modal-wrap .modal-button-wrap {
    text-align: center;
}

.sign-in-popup #pro-content-registration {
    color: #4B77B9;
}

.sign-in-popup .modal-button {
    width: 330px;
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4B77B9;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    transition: 0.2s ease;
    margin: 0 auto;
    cursor: pointer;
}

@media (max-width: 544px) {
    .sign-in-popup .modal-pro-content-buttons-wrap {
        padding: 0 30px 20px;
    }
}

.modal-wrap .close-modal-popup {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 0;
}

.modal-wrap .close-modal-popup:before {
    transform: translate(-50%, -50%) rotate( 45deg);
}

.modal-wrap .close-modal-popup:before,
.modal-wrap .close-modal-popup:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 2px;
    height: 25px;
    background-color: #4B77B9;
}

.modal-wrap .close-modal-popup:after {
    transform: translate(-50%, -50%) rotate( -45deg);
}

.modal-wrap .close-modal-popup:before,
.modal-wrap .close-modal-popup:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 2px;
    height: 25px;
    background-color: #4B77B9;
}

.disabled {
    background-color: rgba(100, 100, 100, 0.3) !important;
    background: rgba(100, 100, 100, 0.3) !important;
    color: rgba(250, 250, 250, 0.3) !important;
}

.disabled-radio {
    border-color: grey !important;
}

div:disabled {
    background-color: rgba(100, 100, 100, 0.3) !important;
    background: rgba(100, 100, 100, 0.3) !important;
    color: rgba(250, 250, 250, 0.3) !important;
}

.disabled-button {
    cursor: none;
    opacity: .65;
}