{% macro load_scripts(js_files) -%} {% for js_script in js_files %}
<script src="{{ url_for('static', filename='js/{}.js'.format(js_script)) }}"></script>
{% endfor %} {%- endmacro %}


<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- JS libs -->
    {% for js_file in ["api.js"] %}
    <script src="{{ url_for('static', filename='js/lib/{}'.format(js_file))}}"></script>
    {% endfor %} {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body dir="rtl">
    {% block body %}{% endblock %}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}} " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>
    <script src="{{ url_for( 'static', filename='js/cookies_handler.js' ) }} "></script>

    {% if role == 'unregistered' %} {% include "auth_modal.html" %}
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src=" {{ url_for( 'static', filename='js/auth_modal.js' ) }} "></script>
    {% endif %}
</body>

</html>