{% extends "dashboard_with_date.html" %}

{% block title %}Prime Index{% endblock %}

{% block css %}
{{super()}}
<link href="{{url_for('static', filename='styles/prime_index.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="prime-container">
</div>
{{ super() }}
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/lib/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/wNumb.min.js') }}"></script>

<!--script src="{{ url_for('static', filename='js/prime_add_global.js') }}"></script-->
<!--script src="{{ url_for('static', filename='js/prime_chart_config.js') }}"></script-->

{% if role == 'unregistered' %}
<!--script src="{{ url_for('static', filename='js/prime_index_filter_inactive.js') }}"></script-->
<!--script src="{{ url_for('static', filename='js/prime_index_reset_btn_disabled.js') }}"></script-->
{% else %}
<!--script src="{{ url_for('static', filename='js/prime_filter_active.js') }}"></script-->
<!--script src="{{ url_for('static', filename='js/prime_index_reset_btn.js') }}"></script-->
{% endif %}

<script src="{{ url_for('static', filename='js/lib/mortgage_chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/prime/prime_chart_config.js') }}"></script>
<script src="{{ url_for('static', filename='js/prime/prime_dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/prime/prime.js') }}"></script>

{#{ load_scripts(['custom_chartjs_functions', 'mortgage_chart', 'prime_dashboard', 'prime']) }#}
{% endblock %}